.LeftSize__main {
    
    display: flex;
    justify-content: center;
}
.leftSide__header {
    font-weight: bold;
    margin: 10px;
}
.leftSide__brandname {

}
.brandname {
    display: block;
    width: 100px;
}